@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
/* CORPO */
body {
     font-family: Nunito, sans-serif;
     color: #1c1c1c;
}

h1, h2, h3 {
            font-family: Asap, sans-serif;
            color: rgb(63 63 149);
}
.botao {
        color:#FFFFFF
        text-decoration: none;
        padding: 10px 30px;
        background-color: #191970;
        font-size: .9em;
        border-radius: 3px;

}
/* NAVEGAÇÃO */

nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #808080;
}

nav > a {
         text-decoration: none;
         color: rgb(63 63 149);
         font-weight: 800;
         font-size: 32px;
         font-family: 'Nunito', sans-serif;
         text-shadow: 2px 2px black;
}
nav > a:hover {
         opacity: 1.0;
         color: #dcdfe6;
}
nav ul{
        list-style: none;
        display: flex;

}

nav ul li {

        letter-spacing: 3px;
        margin-left: 40px;

}

nav ul li a {
        display: inline-block;
        padding:10px 0;
        width: 100%;
        text-decoration: none;
        color:rgb(63 63 149);
        text-shadow: 0.8px 0.8px black;

}
nav ul li a:hover{
        opacity: 1.0;
        color: #dcdfe6;
}

/* CABEÇALHO */

header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../img/escola2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
}

header h1{
        color: rgb(63 63 149);
        background-color: rgba(128,128,128,0.7);
        font-size: 40px;
        border-radius: 3px;
        align-items:center;
        text-shadow: 1.7px 1.7px black;

}

header p{
        margin-bottom: 2em;
        background-color: rgba(128,128,128,0.7);
        border-radius: 3px;
}



#sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 10px 20px 20px;
        background-color: #808080;
        color: #FFFFFF;
}

#sobre h2{
        color: rgb(63 63 149);
        text-shadow: 0.8px 0.8px black;
}

#sobre p {
        margin-bottom: 2.5em;
        max-width: 800px;
}

#sobre .botao{
        background-color: #f1f1f1;
        color: 1c1c1c;
        text-decoration: none;
}

/* serviços */
#serviços h2{
        text-shadow: 0.8px 0.8px black;
}
#serviços {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
}

#serviços div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;

}

/* FOTOS */

#fotos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
}

#fotos h2 {
        margin-bottom: 20px;
        text-shadow: 0.8px 0.8px black;

}

#fotos img {
        width:100%;
}

/* CONTATO */

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2{
        color: rgb(63 63 149);
        text-shadow: 0.8px 0.8px black;
}

#contato a{
        text-decoration: none;
}

#contato a:hover {
        color:#808080;
}
/* RODAPE */

footer {
        text-align: center;
        padding: 10px;
        background-color: #808080;
        color: #FFFFFF;
}

footer a{
        text-decoration: none;
        color: rgb(63 63 149);
        text-shadow: 0.8px 0.8px black;
}

footer a:hover{
        color:#dcdfe6;
}

@media screen and (min-width: 768px) {

       nav {
                  flex-direction: row;
                  justify-content: space-around;

       }

       nav ul{

                flex-direction: row:;
                width:70%;
       }

       header {
                height: 600px;
                height: 60vh;
                justify-content: center;
       }

       #sobre {
                height: 250px;
                height: 30vh;
                justify-content: center;
                min-height: 250px
       }

       #serviços {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                max-width: 1000px;
                margin: 0 auto;
       }
       #serviços h2{
                text-align: center;
                width: 100%;
       }

       #serviços div {
                flex-grow: 1;
                flex-basis: 150px;
                padding: 0 10px;
       }

       #fotos {
                flex-direction: row;
                flex-wrap: wrap;

       }

       #fotos h2{
                width:100%;
                text-align: center;

       }
       #fotos img {
                width: 33.3333333%;
       }
       #contato {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                max-width: 500px;
                margin: 0 auto;
       }

       #contato h2, #contato p{
                width: 100%;
       }
}